@charset "utf-8";

.introductionBox,
.passportBox{
	width:300px;
	margin:0 auto 20px;
}


ul.flow {
	width:300px;
	margin:0px auto 30px;
}

ul.flow li{
	margin:0px 0px 5px 0px;
}

.sample{
	width:300px;
	margin:0px auto 20px;
}




























