@charset "utf-8";


dl.qaBlock{
	margin:0px 10px 30px 10px;

}

dl.qaBlock dt{
	margin:0px 0px 5px 0px;
	padding:15px 10px 15px 40px;
	font-size:14px;
	background:url(../support/qa/img/ico_q.png) 10px 13px no-repeat, #F8F8F8 url(../support/qa/img/bg_titQ.jpg) left bottom repeat-x;
	background-size:24px 26px;
	-moz-background-size:24px 26px;
	-webkit-background-size:24px 26px;
}

dl.qaBlock dd{
	margin:0px 0px 20px 0px;
	padding:12px 10px 12px 40px;
	font-size:13px;
	background:#FFFBEE url(../support/qa/img/ico_a.png) 10px 13px no-repeat;
	background-size:24px 26px;
	-moz-background-size:24px 26px;
	-webkit-background-size:24px 26px;
}










































